<div class="profile-page sidebar-collapse">
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/city-profile.jpg');"></div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar">
                <img src="../assets/img/faces/christian.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid">
              </div>
              <div class="name">
                <h3 class="title">Christian Louboutin</h3>
                <h6>Designer</h6>
                <a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
                <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
                <a href="#pablo" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-pinterest"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="description text-center">
          <p>An artist of considerable range, Chet Faker &#x2014; the name taken by Melbourne-raised, Brooklyn-based Nick Murphy &#x2014; writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. </p>
        </div>
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile-tabs">
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" href="#studio" role="tab" data-toggle="tab">
                    <i class="material-icons">camera</i> Studio
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                    <i class="material-icons">palette</i> Work
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#favorite" role="tab" data-toggle="tab">
                    <i class="material-icons">favorite</i> Favorite
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-content tab-space justify-content-center">
          <div class="tab-pane active text-center gallery " id="studio">
            <div class="row">
              <div class="col-md-6 ml-auto mr-auto">
                <div class="card-container manual-flip">
                  <div class="card">
                    <div class="front">
                      <div class="cover">
                      </div>
                      <div class="content">
                        <div class="main">
                          <h3 class="name">User</h3>
                          <p class="profession">Details</p>
          
                          <p class="text-center"></p>
                          <div class="stats-container">
                            <div class="stats">
                              <h4>235</h4>
                              <p>
                                Followers
                              </p>
                            </div>
                            <div class="stats">
                              <h4>114</h4>
                              <p>
                                Following
                              </p>
                            </div>
                            <div class="stats">
                              <h4>35</h4>
                              <p>
                                Projects
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="footer">
                          <button class="btn btn-simple"  onclick="rotateCard(this)">
                            <i class="fa fa-reply"></i> Back
                        </button>
                        </div>
                      </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                      <div class="header">
                        <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                      </div>
                      <div class="content">
                        <div class="main">
                          <!-- <div class="loginForm" [formGroup]="loginForm">
                            <mat-form-field class="example-full-width">
                              <mat-label>Email</mat-label>
                              <input matInput type="email" formControlName="email">
                              
                              </mat-form-field>
                            <mat-form-field class="example-full-width">
                              <mat-label>Password</mat-label>
                              <input matInput type="password" formControlName="password">
                            
                              </mat-form-field>
                             </div> -->
          
                         
                         
                        </div>
                      </div>
                      <div class="footer justify-content-center">
                        <button style="
                        padding-left: 0px;
                        margin-left: 226px;
                    " class="btn btn-simple"  onclick="rotateCard(this)">
                          <i class="fa fa-reply"></i> Back
                      </button>
                        <div class="social-links text-center">
                          <a href="#" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                          <a href="#" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                          <a href="#" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                        </div>
                      </div>
                    </div>  <!-- end back panel -->
                  </div> <!-- end card -->
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane text-center gallery" id="works">
            <div class="row">
              <div class="col-md-6 ml-auto mr-auto">
                <div class="card-container manual-flip">
                  <div class="card">
                    <div class="front">
                      <div class="cover">
                      </div>
                      <div class="content">
                        <div class="main">
                          <h3 class="name">User</h3>
                          <p class="profession">Details</p>
          
                          <p class="text-center"></p>
                          <div class="stats-container">
                            <div class="stats">
                              <h4>235</h4>
                              <p>
                                Followers
                              </p>
                            </div>
                            <div class="stats">
                              <h4>114</h4>
                              <p>
                                Following
                              </p>
                            </div>
                            <div class="stats">
                              <h4>35</h4>
                              <p>
                                Projects
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="footer">
                          <button class="btn btn-simple"  onclick="rotateCard(this)">
                            <i class="fa fa-reply"></i> Back
                        </button>
                        </div>
                      </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                      <div class="header">
                        <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                      </div>
                      <div class="content">
                        <div class="main">
                          <!-- <div class="loginForm" [formGroup]="loginForm">
                            <mat-form-field class="example-full-width">
                              <mat-label>Email</mat-label>
                              <input matInput type="email" formControlName="email">
                              
                              </mat-form-field>
                            <mat-form-field class="example-full-width">
                              <mat-label>Password</mat-label>
                              <input matInput type="password" formControlName="password">
                            
                              </mat-form-field>
                             </div> -->
          
                         
                         
                        </div>
                      </div>
                      <div class="footer">
                        <button style="
                        padding-left: 0px;
                        margin-left: 226px;
                    " class="btn btn-simple"  onclick="rotateCard(this)">
                          <i class="fa fa-reply"></i> Back
                      </button>
                        <div class="social-links text-center">
                          <a href="#" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                          <a href="#" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                          <a href="#" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                        </div>
                      </div>
                    </div>  <!-- end back panel -->
                  </div> <!-- end card -->
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane text-center gallery" id="favorite">
            <div class="row text-center">
              <div class="col-md-6 ml-auto mr-auto">
                <div class="card-container manual-flip">
                  <div class="card">
                    <div class="front">
                      <div class="cover">
                       
                      </div>
                      <div class="content">
                        <div class="main">
                          <h3 class="name">User</h3>
                          <p class="profession">Details</p>
          
                          <p class="text-center"></p>
                          <div class="stats-container">
                            <div class="stats">
                              <h4>235</h4>
                              <p>
                                Followers
                              </p>
                            </div>
                            <div class="stats">
                              <h4>114</h4>
                              <p>
                                Following
                              </p>
                            </div>
                            <div class="stats">
                              <h4>35</h4>
                              <p>
                                Projects
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="footer">
                          <button class="btn btn-simple"  onclick="rotateCard(this)">
                            <i class="fa fa-reply"></i> Back
                        </button>
                        </div>
                      </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                      <div class="header">
                        <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                      </div>
                      <div class="content">
                        <div class="main">
                          <!-- <div class="loginForm" [formGroup]="loginForm">
                            <mat-form-field class="example-full-width">
                              <mat-label>Email</mat-label>
                              <input matInput type="email" formControlName="email">
                              
                              </mat-form-field>
                            <mat-form-field class="example-full-width">
                              <mat-label>Password</mat-label>
                              <input matInput type="password" formControlName="password">
                            
                              </mat-form-field>
                             </div> -->
          
                         
                         
                        </div>
                      </div>
                      <div class="footer flex-row-center">
                        <button style="
                        padding-left: 0px;
                        margin-left: 226px;
                    " class="btn btn-simple" onclick="rotateCard(this)">
                          <i class="fa fa-reply"></i> Back
                      </button>
                        <div class="social-links text-center">
                          <a href="#" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                          <a href="#" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                          <a href="#" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                        </div>
                      </div>
                    </div>  <!-- end back panel -->
                  </div> <!-- end card -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>