table {
    width:100%;
    height:100%;
    background: rgb(242,239,233);
    background: linear-gradient(45deg, rgba(242,239,233,1) 21%, rgba(7,177,242,1) 83%);
}
.section{
    padding-top:0px;
}
mat-paginator{
    background: rgb(242,239,233);
    background: linear-gradient(45deg, rgba(242,239,233,1) 21%, rgba(7,177,242,1) 83%);
}
.head .col-md-12{
    display: flex!important;
    flex-direction: row-reverse!important;
}
.options{
    border-right: 10px;
    border-left: 20px;
    border-top: 20px;
    padding:10px;
    border-radius: 10%;
    background: rgb(242,239,233);
    background: linear-gradient(45deg, rgba(242,239,233,1) 21%, rgba(7,177,242,1) 83%);
}
.modal-dialog, .modal-content,.modal-body,.modal-header,.modal-footer{
   width:100vh;
 }
 @media screen and(max-width:375px){
   .modal-dialog, .modal-content,.modal-body,.modal-header,.modal-footer{
     width: 340px;
  } 
 }