<app-preloader></app-preloader>

<div class="login-page sidebar-collapse">
   <app-headermain></app-headermain>
      <div class="page-header header-filter" style="background-image: url('../assets/img/bg7.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
          <div class="row"style="
          margin-top: 44px;
      ">
            <div class="col-lg-4 col-md-6 ml-auto mr-auto">
              <div class="card card-login">
                <form class="form" method="" action="">
                  <div class="card-header card-header-primary text-center">
                    <h4 class="card-title">Login</h4>
                    <div class="social-line">
                      <a href="#pablo" class="btn btn-just-icon btn-link">
                        <i class="fa fa-facebook-square"></i>
                      </a>
                      <a href="#pablo" class="btn btn-just-icon btn-link">
                        <i class="fa fa-twitter"></i>
                      </a>
                      <a href="#pablo" class="btn btn-just-icon btn-link">
                        <i class="fa fa-google-plus"></i>
                      </a>
                    </div>
                  </div>
                  <p class="description text-center">Or Sign In</p>
                  <div class="card-body" [formGroup]="loginForm" >
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">mail</i>
                        </span>
                      </div>
                      <input type="email" class="form-control" formControlName="email" placeholder="Email...">
                    </div>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">lock_outline</i>
                        </span>
                      </div>
                      <input type="password" class="form-control"formControlName="password" placeholder="Password...">
                    </div>
                    <div class="input-group flex-row-reverse">
                        <button type="button" class="btn btn-primary btn-round" (click)="login()">
                            <i class="material-icons">login</i> Sign In <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                          </button>
                    </div>
                   
                  </div>
                  <div class="footer text-center">
                    <a routerLink="/forgot" class="btn btn-primary btn-link btn-wd btn-lg">Forgot Password?</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    
      </div>
      <app-footermain></app-footermain>
</div>

