

<div class="conainer">
  <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" routerLink="/">
          E-Grivinance </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="dropdown nav-item">
            <a routerLink="/user/dashboard" class=" nav-link" >
              <i class="material-icons">dashboard</i>Dashboard
            </a>
          
          </li>
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <i class="material-icons">work</i>Issues
            </a>
            <div class="dropdown-menu dropdown-with-icons">
              <a routerLink="/user/raiseissue" class="dropdown-item">
                <i class="material-icons">create_new_folder</i>Raise an Issue
              </a>
              <a routerLink="/user/issuelist"  class="dropdown-item">
                <i class="material-icons">receipt_long</i> Issue's List
              </a>
              <a routerLink="/user/updateissue" class="dropdown-item">
                <i class="material-icons">update</i>Update Issue
              </a>
              <a routerLink="/register"  class="dropdown-item">
                <i class="material-icons">pageview</i> Detailed View
              </a>
            </div>
          </li>
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <i class="material-icons">account_circle</i>User
            </a>
            <div class="dropdown-menu dropdown-with-icons">
              <a routerLink="/user/profile" class="dropdown-item">
                <i class="material-icons">portrait</i>Profile
              </a>
              <a  (click)="changePassword()"  class="dropdown-item">
                <i class="material-icons">vpn_key</i>Change Password
              </a>
               <a (click)="logout()"  class="dropdown-item">
                <i class="material-icons">exit_to_app</i>Log Out
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>



