
<div class="profile-page sidebar-collapse">
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('assets/img/bg3.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <h4 class="title">Issue updation</h4>
      <div class="section text-center" *ngIf="!currentIssue">
        <a data-toggle="modal" data-target="#SelectModel">
          <h2 class="title"> Select to Update <span class="material-icons md-48">
              plus_one
            </span></h2>
        </a>

      </div>
      <div class="section" *ngIf="currentIssue">
        <div class="card">
          <div class="card-header text-center">
            <h3> Update Issue </h3>
          </div>
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <mat-accordion class="example-headers-align" multi>
                    <mat-expansion-panel disabled>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Unique ID

                        </mat-panel-title>
                        <mat-panel-description>
                          <b>{{currentIssue?._id?currentIssue?._id:"N/A"}}</b>
                          <span class="input-group-text">
                            <i class="material-icons">fingerprint</i>
                          </span>
                        </mat-panel-description>
                      </mat-expansion-panel-header>

                    </mat-expansion-panel>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Basic Details
                        </mat-panel-title>
                        <mat-panel-description>
                          Info
                          <span class="input-group-text">
                            <i class="material-icons">feedback</i>
                          </span>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <div class="container">
                        <div class="row">
                          <div class="col-md-6">
                            <h4><b>Name:</b></h4>
                          </div>
                          <div class="col-md-6">
                            <h4>{{currentIssue?.name}}</h4>
                          </div>
                          <div class="col-md-6">
                            <h4><b>Gender:</b></h4>
                          </div>
                          <div class="col-md-6">
                            <h4>{{currentIssue?.gender}}</h4>
                          </div>
                          <div class="col-md-6">
                            <h4><b>Email:</b></h4>
                          </div>
                          <div class="col-md-6">
                            <h4>{{currentIssue?.email}}</h4>
                          </div>
                           <div class="col-md-6">
                            <h4><b>Phone:</b></h4>
                          </div>
                          <div class="col-md-6">
                            <h4>{{currentIssue?.phone}}</h4>
                          </div>
                        </div>
                      </div>
                    </mat-expansion-panel>


                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          About
                        </mat-panel-title>
                        <mat-panel-description>
                          Detailed View
                          <span class="input-group-text">
                            <i class="material-icons">article</i>
                          </span>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <div class="container">
                        <div class="row">
                          <div class="col-md-6">
                            <h4><b>Place:</b></h4>
                          </div>
                          <div class="col-md-6">
                            <h4>{{currentIssue?.place}}</h4>
                          </div>
                          <div class="col-md-6">
                            <h4><b>City:</b></h4>
                          </div>
                          <div class="col-md-6">
                            <h4>{{currentIssue?.city}}</h4>
                          </div>
                          <div class="col-md-6">
                            <h4><b>State:</b></h4>
                          </div>
                          <div class="col-md-6">
                            <h4>{{currentIssue?.state}}</h4>
                          </div>
                           <div class="col-md-6">
                            <h4><b>Pin Code:</b></h4>
                          </div>
                          <div class="col-md-6">
                            <h4>{{currentIssue?.pincode}}</h4>
                          </div>
                          <div class="col-md-6">
                            <h4><b>Address:</b></h4>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <textarea disabled matInput >{{currentIssue?.address}}</textarea>
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <h4><b>Issue:</b></h4>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <textarea disabled matInput >{{currentIssue?.issue}}</textarea>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="stats">
                    <h4>{{currentIssue?._id?currentIssue?.status:"N/A"}}</h4>
                    <p>
                      Status
                    </p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="stats second">
                    <h4>{{currentIssue?._id?currentIssue?.complexity:"N/A"}}</h4>
                    <p>
                      Complexity
                    </p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="stats">
                    <h4>{{currentIssue?._id?currentIssue?.issueJonour:"N/A"}}</h4>
                    <p>
                      Jonour
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer flex-row-reverse">

            <mat-form-field>
              <mat-label> Update Status</mat-label>
              <mat-select name="Status" [formControl]="status" (selectionChange)="update()">
                <mat-option value=''>
                  Select
                </mat-option>
                <mat-option value='Submitted'>
                  Submitted
                </mat-option>
                <mat-option value='Pending'>
                  Pending
                </mat-option>
                <mat-option value='Active'>
                  Active
                </mat-option>
                <mat-option value='Solved'>
                  Solved
                </mat-option>
              </mat-select>
            </mat-form-field>
            <span class="input-group-text">
              <i class="material-icons">edit</i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="SelectModel" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Select Issue</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="material-icons">clear</i>
          </button>
        </div>
        <div class="modal-body">
          <app-issue-list></app-issue-list>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>