<div class="profile-page sidebar-collapse">
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('assets/img/bg3.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <div class="brand text-center">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main main-raised">
      <div class="container">
        <h4 class="title">Issue updation</h4>
        <div class="section ">
          <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            <i class="material-icons">library_books</i>
            Classic
          </button>
          <div class="dropdown">
                <button class="btn btn-primary btn-sm  btn-round dropdown-toggle" data-toggle="dropdown">
                    <i class="material-icons">delete</i>
                </button>
         
        <div class="dropdown-menu dropdown-with-icons">
              <a routerLink="/user/profile" class="dropdown-item">
                <i class="material-icons">check</i>Confirm
              </a>
              <a routerLink="/forgot"  class="dropdown-item">
                <i class="material-icons">cancel</i>Cancel
              </a>
        </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-primary btn-sm  btn-round dropdown-toggle" data-toggle="dropdown">
                <i class="material-icons">edit</i>
            </button>
        <div class="dropdown-menu dropdown-with-icons">
          <a routerLink="/user/profile" class="dropdown-item">
            <i class="material-icons">check</i>Confirm
          </a>
          <a routerLink="/forgot"  class="dropdown-item">
            <i class="material-icons">cancel</i>Cancel
          </a>
        </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
