<div class="container">
    <div class="row">
        <div class="card">
            <!-- <div class="card-header">
             Email 
            </div> -->
            <div class="card-body">
             <div class="emailForm" [formGroup]="emailForm">
        <div class="col-md-12">
            <mat-form-field class="example-full-width">
                <mat-label>To</mat-label>
                <input matInput type="email" maxlength="55" formControlName="to" placeholder="someone@mail.com" >
              </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field class="example-full-width">
                <mat-label>Subject</mat-label>
                <input matInput type="text" maxlength="100" formControlName="subject" placeholder="Subject" >
              </mat-form-field>
        </div>
   
                      <angular-editor id="editor"  #editor [(ngModel)]="htmlContent" [ngModelOptions]="{standalone: true}"></angular-editor>
             </div>
            </div>
            <div class="card-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary btn-round" (click)="sendMail1()">
                    <i class="material-icons">login</i> Send 
                  </button>
            </div>
        </div>
    </div>
</div>