.section{
    padding-top:0px;
}
.registrationInput{
    padding:10px!important;
    margin:10px!important;
}
.form-check{
    padding:10px!important;
    margin:10px!important;
}
.mat-form-field{
    width:448px;
}