
<div class="login-page sidebar-collapse">
  <app-headermain></app-headermain>
  <div class=" header-filter" data-parallax="true" style="background-image: url('assets/img/bg3.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h1 class="text-info">Register</h1>
            <h3 class="title text-center"></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
        <div class="row" [formGroup]="userForm">
            <div class="col-md-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">account_circle</i>
                      </span>
                    </div>
                    <input TextOnly maxlength="25" type="text" formControlName="firstName" class="form-control registrationInput" placeholder="First Name">
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">people</i>
                      </span>
                    </div>
                    <mat-radio-group aria-label="Select Gender" formControlName="gender">
                      
                      <mat-radio-button value="male" class="registrationInput">Male</mat-radio-button>
                      <mat-radio-button value="female" class="registrationInput">Female</mat-radio-button>
                      <mat-radio-button value="others" class="registrationInput">Others</mat-radio-button>
                    </mat-radio-group>
                  </div>
                
                 <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">attach_email</i>
                      </span>
                    </div>
                    <input maxlength="40" type="email"  formControlName="email" class="form-control registrationInput" placeholder="Email...">
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">location_city</i>
                      </span>
                    </div>
                    <input TextOnly maxlength="30" type="text" formControlName="city" class="form-control registrationInput" placeholder="City">
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">contact_mail</i>
                      </span>
                    </div>
                    <textarea  type="text"formControlName="address" class="form-control registrationInput" placeholder="Address..."></textarea>
                  </div>
                
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="password"formControlName="password" class="form-control registrationInput" placeholder="Password...">
                  </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">account_circle</i>
                      </span>
                    </div>
                    <input TextOnly maxlength="25" type="text"formControlName="lastName" class="form-control registrationInput" placeholder="Last Name">
                  </div>
                   <div class="input-group">
                    <div class="input-group-prepend">
                     
                      <span class="input-group-text" >
                        <i class="material-icons" >add_ic_call</i>
                      </span>
                    </div>
                       <input NumbersOnly maxlength="12" minlength="10" type="text" formControlName="phone" class="form-control registrationInput" placeholder="Phone">
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">location_city</i>
                      </span>
                    </div>
                    <input TextOnly type="text" maxlength="30" formControlName="state" class="form-control registrationInput" placeholder="State">
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">today</i>
                      </span>
                    </div>
                    <mat-form-field class="example-full-width">
                      <mat-label>Date Of Birth</mat-label>
                      <input matInput [matDatepicker]="picker" formControlName="dob">
                      <mat-datepicker-toggle matSuffix [for]="picker">
                        <span class="input-group-text" matDatepickerToggleIcon>
                          <i class="material-icons">cake</i>
                        </span>
                      </mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">room</i>
                      </span>
                    </div>
                    <input NumbersOnly  maxlength="6" minlength="6" type="text" formControlName="pincode" class="form-control registrationInput" placeholder="Pin Code">
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">vpn_key</i>
                      </span>
                    </div>
                    <input type="password" formControlName="confirmpassword" class="form-control registrationInput" placeholder="Confirm Password...">
                  </div>
            </div>
        </div>
      <div class="row">
          <div class="col-md-12 ">
              <div class="buttons input-group flex-row-reverse registrationInput">
                <button type="button" class="btn btn-success btn-round" (click)="submitUser()">
                    <i class="material-icons">login</i> Submit
                  </button>
                  <button type="button" (click)="reset()" class="btn btn-info btn-round registrationInput">
                    <i class="material-icons">replay</i> Reset
                  </button>
                  <button type="button" *ngIf="userForm.untouched" (click)="cancel()"class="btn btn-info btn-round registrationInput">
                    <i class="material-icons">cancel</i> Cancel
                  </button>
                  <button type="button"  *ngIf="userForm.touched" data-toggle="modal" data-target="#WarningModel" class="btn btn-warning btn-round registrationInput">
                    <i class="material-icons">cancel</i> Cancel
                  </button>
              </div>
            
          </div>
        
      </div>
    </div>
  </div>
  
<app-footermain></app-footermain>
</div>
<div class="modal fade" id="WarningModel"  role="dialog">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Alert</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="material-icons">clear</i>
        </button>
      </div>
      <div class="modal-body">
     <p>Your Data Will Be lost</p>
     <button class="btn btn-primary" routerLink="/" data-dismiss="modal">Confirm</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-link" data-dismiss="modal" >Close</button>
      </div>
    </div>
  </div>
</div>

 