<app-preloader></app-preloader>
<nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg" color-on-scroll="100">
    <div class="container">
      <div class="navbar-translate">
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a routerLink="/"class="nav-link">
              <i class="material-icons">home</i> Home
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/login" class="nav-link">
              <i class="material-icons">account_box</i> Login
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class=" header-filter" data-parallax="true" style="background-image: url('assets/img/bg3.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h1 class="text-info">Register</h1>
            <h3 class="title text-center"></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">account_circle</i>
                      </span>
                    </div>
                    <input type="email" class="form-control registrationInput" placeholder="First Name">
                  </div>
                 <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">attach_email</i>
                      </span>
                    </div>
                    <input type="email" class="form-control registrationInput" placeholder="Email...">
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">location_city</i>
                      </span>
                    </div>
                    <input type="email" class="form-control registrationInput" placeholder="City">
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">contact_mail</i>
                      </span>
                    </div>
                    <textarea type="text" class="form-control registrationInput" placeholder="Address..."></textarea>
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">people</i>
                      </span>
                    </div>
                    <input type="email" class="form-control registrationInput" placeholder="Gender">
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="password" class="form-control registrationInput" placeholder="Password...">
                  </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">account_circle</i>
                      </span>
                    </div>
                    <input type="email" class="form-control registrationInput" placeholder="Last Name">
                  </div>
                   <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">add_ic_call</i>
                      </span>
                    </div>
                    <input type="email" class="form-control registrationInput" placeholder="Phone">
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">location_city</i>
                      </span>
                    </div>
                    <input type="email" class="form-control registrationInput" placeholder="State">
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">today</i>
                      </span>
                    </div>
                    <input type="email" class="form-control registrationInput" placeholder="DoB">
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">room</i>
                      </span>
                    </div>
                    <input type="email" class="form-control registrationInput" placeholder="Pin Code">
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">vpn_key</i>
                      </span>
                    </div>
                    <input type="password" class="form-control registrationInput" placeholder="Confirm Password...">
                  </div>
            </div>
        </div>
      <div class="row">
          <div class="col-md-12 ">
              <div class="buttons input-group flex-row-reverse registrationInput">
                <button class="btn btn-success btn-round">
                    <i class="material-icons">login</i> Submit
                  </button>
                  <button class="btn btn-info btn-round registrationInput">
                    <i class="material-icons">replay</i> Reset
                  </button>
                  <button  class="btn btn-warning btn-round registrationInput">
                    <i class="material-icons">cancel</i> Cancel
                  </button>
              </div>
            
          </div>
        
      </div>
    </div>
  </div>
  <footer class="footer footer-default">
    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
            <a href="#">
             E-Griviance
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        &copy;
        {{year}},
        #IAm_developer Inc
      </div>
    </div>
  </footer>