<app-preloader></app-preloader>
<div class="login-page sidebar-collapse">
  <nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg" color-on-scroll="100">
    <div class="container">
      <div class="navbar-translate">
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a routerLink="/"class="nav-link">
              <i class="material-icons">home</i> Home
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/login" class="nav-link">
              <i class="material-icons">account_box</i> Login
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class=" header-filter" data-parallax="true" style="background-image: url('assets/img/bg3.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h1 class="text-info">Register</h1>
            <h3 class="title text-center"></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
        <div class="row" [formGroup]="userForm">
            <div class="col-md-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">account_circle</i>
                      </span>
                    </div>
                    <input type="text" formControlName="firstName" class="form-control registrationInput" placeholder="First Name">
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">people</i>
                      </span>
                    </div>
                    <mat-radio-group aria-label="Select Gender" formControlName="gender">
                      
                      <mat-radio-button value="male" class="registrationInput">Male</mat-radio-button>
                      <mat-radio-button value="female" class="registrationInput">Female</mat-radio-button>
                      <mat-radio-button value="others" class="registrationInput">Others</mat-radio-button>
                    </mat-radio-group>
                  </div>
                
                 <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">attach_email</i>
                      </span>
                    </div>
                    <input type="email"  formControlName="email" class="form-control registrationInput" placeholder="Email...">
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">location_city</i>
                      </span>
                    </div>
                    <input type="text" formControlName="city" class="form-control registrationInput" placeholder="City">
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">contact_mail</i>
                      </span>
                    </div>
                    <textarea type="text"formControlName="address" class="form-control registrationInput" placeholder="Address..."></textarea>
                  </div>
                
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="password"formControlName="password" class="form-control registrationInput" placeholder="Password...">
                  </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">account_circle</i>
                      </span>
                    </div>
                    <input type="text"formControlName="lastName" class="form-control registrationInput" placeholder="Last Name">
                  </div>
                   <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">add_ic_call</i>
                      </span>
                    </div>
                    <input type="text" formControlName="phone" class="form-control registrationInput" placeholder="Phone">
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">location_city</i>
                      </span>
                    </div>
                    <input type="text" formControlName="state" class="form-control registrationInput" placeholder="State">
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">today</i>
                      </span>
                    </div>
                    <mat-form-field class="example-full-width">
                      <mat-label>Date Of Birth</mat-label>
                      <input matInput [matDatepicker]="picker" formControlName="dob">
                      <mat-datepicker-toggle matSuffix [for]="picker">
                        <span class="input-group-text" matDatepickerToggleIcon>
                          <i class="material-icons">cake</i>
                        </span>
                      </mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">room</i>
                      </span>
                    </div>
                    <input type="text" formControlName="pincode" class="form-control registrationInput" placeholder="Pin Code">
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">vpn_key</i>
                      </span>
                    </div>
                    <input type="password" formControlName="confirmpassword" class="form-control registrationInput" placeholder="Confirm Password...">
                  </div>
            </div>
        </div>
      <div class="row">
          <div class="col-md-12 ">
              <div class="buttons input-group flex-row-reverse registrationInput">
                <button type="button" class="btn btn-success btn-round" (click)="submitUser()">
                    <i class="material-icons">login</i> Submit
                  </button>
                  <button type="button" (click)="reset()" class="btn btn-info btn-round registrationInput">
                    <i class="material-icons">replay</i> Reset
                  </button>
                  <button type="button" (click)="cancel()"class="btn btn-warning btn-round registrationInput">
                    <i class="material-icons">cancel</i> Cancel
                  </button>
              </div>
            
          </div>
        
      </div>
    </div>
  </div>
  <footer class="footer footer-default">
    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
            <a href="#">
             E-Griviance
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        &copy;
        {{year}},
        #IAm_developer Inc
      </div>
    </div>
  </footer>
</div>
 